{% extends 'base.html' %}
{% block title %}404{% endblock %}
{% block custom_files %}
    <link rel="stylesheet" href={{ url_for('static', path='css/404.css') }}>
{% endblock %}
{% block body %}
    <h1 class="text-center">404: Page seems to be hacked out of existence.</h1>
    <!--Change the URL in the production build-->
    <h3 class="text-center">Go Back To <a href="https://dis-code-sas2k-lucky-leucrota.vercel.app">Home</a></h3>
{% endblock %}
{% block custom_js %}
    <script src={{ url_for('static', path='js/404.js') }}></script>
{% endblock %}
