{% extends "base.html" %}
    {% block title %}Home{% endblock %}
    {% block custom_files %}
    <script src={{ url_for("static", path="/prism.js") }}></script>
    <link href={{ url_for("static", path="/prism.css") }} rel="stylesheet" />
    <link rel="stylesheet" href={{ url_for("static", path="/style.css") }} />
    {% endblock %}
    {% block body %}
        <h2>Your Name: <span id="ws-id"></span></h2>
        <div>
            <h3 style="margin-left: 30px; margin-top: 30px">Your Messages ...</h3>
            <textarea
                style="float: left"
                placeholder="your message..."
                id="messages"
                rows="50"
                cols="62"
                readonly
            ></textarea>
            <div class="chat-popup" style="float: right;">
                <form class="form-container" id="dragme" draggable="true">
                    <h1>Chat</h1>
                
                    <label for="msg"><b>Message</b></label>
                    <textarea
                        placeholder="Type message..."
                        id="messageText"
                        name="msg"
                        required
                    ></textarea>
                
                    <button type="button" class="btn send" id="send" onclick="sendMessage(event)">
                        Send
                    </button>
                    </button>
                </form>
            </div>
            <div class="code">
                <code-input lang="JS" id="code-text" style="resize: both; overflow: hidden; width: 588px; height: 1210px;" placeholder="console.log('Code here. the output is in the Dev-Console.')"></code-input>
            </div>
            <!--Run button-->
            <button style="width: 64px; height: 32px; border: black solid; text-align: center;" class="text-center" id="run" onclick="run('#code')">Run</button>
            <p class="text-center">This is where errors are displayed</p>
            <code class="text-center" id="output">Error: </code>
        </div>
    {% endblock %}
    {% block custom_js %}
    <script src={{ url_for("static", path="/script.js") }}></script>
    {% endblock %}