{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block custom_files %}
    <link rel="stylesheet" href={{ url_for('static', path='css/index.css') }}>
{% endblock %}
{% block body %}
    <div id="Main">
        <h1 class="text-center">Dis-Code</h1>
        <hr />
        <a id="chat-button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/chat">
            To chat
        </a>
        <br>
        <br>
        <div class="container">
            <div class="col-md-12">
                <h2 class="text-center">About</h2>
                <p class="text-center">
                    Dis-Code is a Chat, That works like an IRC-Server. The messages will not be decrypted 25% of the time. You have to use your python skills to decrypt them.
                </p>
            </div>
            <br>
            <br>
            <div class="col-md-12">
                <h2 class="text-center">Features</h2>
                <ul class="text-center">
                    <li class="text-center">A fully encrypted and decrypted chat (well, sort of 😅)</li>
                    <li class="text-center">An editor that runs python</li>
                </ul>
            </div>
        </div>
        <br>
        <br>
    </div>
{% endblock %}
{% block custom_js %}
    <script src={{ url_for('static', path='js/index.js') }}></script>
{% endblock %}