/*CSS Code */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body {
    font-family: 'Roboto Mono', monospace;;
}
* {
    box-sizing: border-box;
}

#user-list {
    height: 75vh;
    overflow-y: auto;
    border-radius: 15px;
}

#message-list {
    height: 75vh;
    border-radius: 15px;
}

#messages-container {
    overflow-y: auto;
}

#messages-container > div > span {
    font-weight: bold;
}

#send-btn {
    border-radius: 5px;
}



/********************/
/* Previous Styles */
/********************/

#texta {
    margin-left: 30px;
    margin-top: 15px;

    height: 500px;
    width: 500px;
}

#myform {
    display: block;
}

#messageText{
    background-color: #ffffff;
    color: #000000;
}

.chat-popup {
    bottom: 200;
    right: 405px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: black;
    right: 0;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    resize: none;
    min-height: 200px;
    white-space: nowrap;
    overflow-x: scroll;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: rgb(35, 35, 35);
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
